:root {
  --card-size: 300px;
  scroll-behavior: smooth;
}

.front-card {
  width: calc(var(--card-size) * 1.586);
  height: var(--card-size);

  border-radius: 0.75rem;

  background: transparent !important;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}

.back-card {
  width: calc(var(--card-size) * 1.586);
  height: var(--card-size);

  border-radius: 0.75rem;

  background: #054c27 !important;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}

.card-details {
  padding: 0.5rem;
}

.card-avatar {
  display: grid;
  place-items: center;
}

#preview-card {
  font-family: "Helvetica Neue", sans-serif;
}
